<div class="row">
  <div class="col">
    <label for="filter">Tags:</label>
    <input type="text" class="form-control" placeholder="tags: tech,culture,startup" [(ngModel)]="filter.tags" />
  </div>
  <div class="col">
    <label for="filter">Sort By:</label>
    <select class="form-select" [(ngModel)]="filter.sortBy">
      @for (sort of sortColumns; track sort) {
      <option value="{{ sort }}">{{ sort }}</option>
      }
    </select>
  </div>

  <div class="col">
    <label for="filter">Direction:</label>
    <select class="form-select" [(ngModel)]="filter.direction">
      @for (sort of sortDirections; track sort) {
      <option value="{{ sort }}">{{ sort }}</option>
      }
    </select>
  </div>
</div>

<button [disabled]="filter.tags === ''" class="btn btn-primary" style="margin: 20px 0" type="button"
  (click)="handleFilterChange()">
  Get Posts
</button>
