<app-post-header [filter]="filter" (filterChange)="handleFilterChange($event)" />

<div class="posts">
  <span *ngIf="error" class="text-danger" role="status">
    {{ error }}
  </span>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"># {{ posts.length }}</th>
        <th scope="col">Author</th>
        <th scope="col" style="cursor: pointer" (click)="sortBy('likes')">
          Likes
          <span *ngIf="filter.sortBy === 'likes'">
            {{ filter.direction === "asc" ? "⬆️" : "⬇️" }}
          </span>
        </th>
        <th scope="col" style="cursor: pointer" (click)="sortBy('popularity')">
          Popularity
          <span *ngIf="filter.sortBy === 'popularity'">
            {{ filter.direction === "asc" ? "⬆️" : "⬇️" }}
          </span>
        </th>
        <th scope="col" style="cursor: pointer" (click)="sortBy('reads')">
          Reads

          <span *ngIf="filter.sortBy === 'reads'">
            {{ filter.direction === "asc" ? "⬆️" : "⬇️" }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (post of posts; track post.id) {
      <tr>
        <th scope="row">{{ post.id }}</th>
        <td>
          {{ post.author }}
        </td>
        <td>{{ post.likes }}</td>
        <td>{{ post.popularity }}</td>
        <td>{{ post.reads }}</td>
      </tr>
      } @empty {
      <tr *ngIf="loading" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </tr>
      <tr *ngIf="!loading">
        <td colspan="5">No posts found</td>
      </tr>
      }
    </tbody>
  </table>
</div>
